/WDAI_lab_4/wycieczki/.angular/
/WDAI_lab_4/wycieczki/.vscode/
/WDAI_lab_4/wycieczki/node_modules/
/WDAI_lab_4/zad5/.angular/
/WDAI_lab_4/zad5/.vscode/
/WDAI_lab_4/zad5/node_modules/
/WDAI_lab_4/zad6/.angular/
/WDAI_lab_4/zad6/.vscode/
/WDAI_lab_4/zad6/node_modules/
/WDAI_lab_5/wycieczki/.angular/
/WDAI_lab_5/wycieczki/.vscode/
/WDAI_lab_5/wycieczki/node_modules/
/WDAI_lab_5/zad5/.angular/
/WDAI_lab_5/zad5/.vscode/
/WDAI_lab_5/zad5/node_modules/
/WDAI_lab_5/zad1/.angular/
/WDAI_lab_5/zad1/.vscode/
/WDAI_lab_5/zad1/node_modules/