<div class = "conteiner">
    <picture class = "picture">
        <img src="../../assets/photos/startowa.jpg" class = "picture__zdjecie">
        <div class = "picture__niebieski"></div>
        <div class = "picture__zolty"></div>
        <div class = "picture__crown">
            <div class = "picture__crown--napis">
                <div>Lider jakości</div>
                <div>Grand Prix Abu-Dabi 2021</div>
            </div>
        </div>
        <div class = "picture__gora">Zapraszamy do skorzystania z naszych gorących jak asfalt na torze w Monaco ofert wycieczkowych!</div>
        <div class = "picture__dol">
           <div> Skontaktujesz sie z nami:</div>
           <div class = "picture__dol--contactConteiner">
                <div>Telefon: 123 456 789</div>
                <div>Email: MagicJohnson@gmail.com</div>
           </div>
        </div>
    </picture>
    <h1>Znajdziesz nas tutaj:</h1>
    <picture class = "picture obwodka">
        <img src="../../assets/photos/mapa.png" alt="" class = "picture__zdjecie">
    </picture>
</div>
